<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fisherman-instruments - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
              integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block icon %}
            <link rel="icon" href="{{ asset('img/logo flyer.webp') }}">
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('JS/jquery-3.6.3.js') }}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.0/jquery-migrate.min.js" integrity="sha512-QDsjSX1mStBIAnNXx31dyvw4wVdHjonOwrkaIhpiIlzqGUCdsI62MwQtHpJF+Npy2SmSlGSROoNWQCOFpqbsOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script type="text/javascript" defer src="{{ asset('JS/app.js') }}"></script>
        {% endblock %}
    </head>

    <body>

        <header>

            {% include 'inc/nav.html.twig' %}

        </header>

        {% for message in app.flashes('success') %}
            <div class="flash_success">
                {{ message }}
            </div>
        {% endfor %}

    </body>

    {% block body %}{% endblock %}
</html>
